# Grouping Data & Aggregating Variables

## Table of Contents

#### 1. Importing Libraries
#### 2. Importing Data
#### 3. Task
#### 4. Exporting Data

# 01. Importing libraries

In [4]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [77]:
# Create path

path = r'C:\Users\16307\Desktop\Tasks - DA Immersion\Instacart Basket Analysis'

In [7]:
# Import orders_products_merge pkl

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [33]:
# check shape of dataframe

ords_prods_merge.shape

(32404859, 23)

In [35]:
# check head of dataframe

ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_of_products,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,12.5,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,4.4,Low-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,4.7,Low-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,1.0,Low-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender

# 03. Task

# #2. Find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe

In [81]:
# Group by department_id column and aggregate the mean by order_number column

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# #3. How do the results for the entire dataframe differ from those of the subset?

The results are relatively similar. The means are within 1 unit of each other.

# #4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers

In [85]:
# Creates a max_order column, dataframe is grouped by user_id, transform function returns maximum on order_number column

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\16307\AppData\Local\Temp\ipykernel_6896\930625947.py:3: FutureWarning: The provided callable <function max at 0x0000023440F0D760> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [87]:
# Creates new loyalty_flag column and assigns loyalty label corresponding to value

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

# #5. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category

In [90]:
# Returns descriptive statistic on loyalty_flag

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

#5. The prices of products purchased by loyal customers are, on average, lower than the prices of products purchased by new and regular customers.

# #6. Create a spending flag for each user based on the average price across all their orders

In [94]:
# Creates a mean_price_of_products column, dataframe is grouped by user_id, transform function returns mean on prices column

ords_prods_merge['mean_price_of_products'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\16307\AppData\Local\Temp\ipykernel_6896\2369531451.py:3: FutureWarning: The provided callable <function mean at 0x0000023440F0E160> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_price_of_products'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [96]:
# Check to see newly added mean_price_of_products column

ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_of_products,spending_flag,median_days_between_orders,order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [100]:
# Creates new spending_flag column and assigns spending label corresponding to value

ords_prods_merge.loc[ords_prods_merge['mean_price_of_products'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[(ords_prods_merge['mean_price_of_products'] >= 10), 'spending_flag'] = 'High spender'

In [102]:
# Check to see how many low and high spenders

ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

# #7. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [104]:
# Creates a median_days_between_orders column, dataframe is grouped by user_id, transform function returns median on days_since_prior_order column

ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\16307\AppData\Local\Temp\ipykernel_6896\3029451546.py:3: FutureWarning: The provided callable <function median at 0x000002344104E020> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [106]:
# Check to see newly added median_days_between_orders column

ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_of_products,spending_flag,median_days_between_orders,order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [108]:
# Creates new order_frequency column and assigns frequency label corresponding to value

ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] <= 20) & (ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency'] = 'Frequent customer'

In [70]:
ords_prods_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [110]:
# # Check to see newly added order_frequency column

ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_of_products,spending_flag,median_days_between_orders,order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

# 04. Exporting Data

In [112]:
# Export to pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_grouped.pkl'))